version: '3.8'
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: user_db
    ports:
      - "3307:3306"
    networks:
      - microservices-net

  discovery-server:
    build: ./discovery-server
    ports:
      - "8762:8762"
    networks:
      - microservices-net

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - discovery-server
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge