server:
  port: 8081
  address: 0.0.0.0

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3307/user_db?createDatabaseIfNotExist=true
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  instance:
    prefer-ip-address: true
    ip-address: 0.0.0.0
  client:
    service-url:
      defaultZone: http://localhost:8762/eureka/